name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - name: npm install
      run: npm install && ./node_modules/.bin/npr which standard
    - name: npm test
      run: npm test
      env:
        CI: true
